<div class="AccessRequestList">
  <div class="AccessRequestList__toolbar card-header">
    <div class="AccessRequestList__filters">
      <form [formGroup]="filtersForm" class="FiltersForm FiltersForm--horizontal">
          <ng-select
            class="FiltersForm__Filter"
            id="filter-status"
            [items]="statusOptions"
            bindLabel="label"
            bindValue="value"
            [clearable]="true"
            placeholder="Statut"
            formControlName="status"
            [multiple]="true"
            [closeOnSelect]="false"
          ></ng-select>
          <ng-select
            class="FiltersForm__Filter"
            id="filter-scope"
            [items]="scopeOptions"
            bindLabel="label"
            bindValue="value"
            [clearable]="true"
            placeholder="Portée"
            formControlName="scope"
            [multiple]="true"
            [closeOnSelect]="false"
          ></ng-select>
          <ng-select
            class="FiltersForm__Filter"
            id="filter-validated"
            [items]="validatedOptions"
            bindLabel="label"
            bindValue="value"
            [clearable]="true"
            placeholder="Validée"
            formControlName="validated"
            [multiple]="true"
            [closeOnSelect]="false"
          ></ng-select>
          <ng-select
            class="FiltersForm__Filter"
            id="filter-sensitive"
            [items]="sensitivityOptions"
            bindLabel="label"
            bindValue="value"
            [clearable]="true"
            placeholder="Données sensibles"
            formControlName="sensitivity_filter"
            [multiple]="true"
            [closeOnSelect]="false"
          ></ng-select>
      </form>
    </div>
    <div
      class="AccessRequestList__actions"
      *ngIf="canCreateAccessRequest"
    >
      <button
        mat-flat-button
        color="primary"
        [routerLink]="newAccessRequestLink"
      >
        Nouvelle demande
      </button>
    </div>
  </div>
  <ng-template
    #cellDateTemplate
    let-date="date"
  >
    {{ renderDate(date) }}
  </ng-template>

  <ng-template
    #cellNumberTemplate
    let-value="value"
  >
    {{ value ? value : '-' }}
  </ng-template>

  <ng-template
    #cellNameTemplate
    let-value="value"
  >
    {{ value | titlecase }}
  </ng-template>

  <ng-template
    #cellBooleanTemplate
    let-value="value"
  >
    {{ value ? 'Oui' : 'Non' }}
  </ng-template>

  <ng-template
    #cellScopeTemplate
    let-value="value"
  >
    {{ renderScope(value) }}
  </ng-template>

  <ng-template
    #cellDefaultTemplate
    let-value="value"
  >
    {{ value }}
  </ng-template>

  <ngx-datatable
    class="AccessRequestList__table material striped AccessRequestList__table--nowrap"
    [rows]="accessRequests"
    columnMode="force"
    [draggable]="false"
    (page)="onChangePage($event)"
    footerHeight="auto"
    headerHeight="auto"
    [externalPaging]="true"
    [count]="pagination.totalItems"
    [limit]="pagination.perPage"
    rowHeight="auto"
    [externalSorting]="true"
    (sort)="onSort($event)"
    [sorts]="[{ prop: sort.sortBy, dir: sort.sortOrder }]"
  >
    <ngx-datatable-column
      name="Id"
      [prop]="PROP_ID_ACCESS_REQUEST"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellNumberTemplate;
            context: { value: accessRequest[PROP_ID_ACCESS_REQUEST] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Author"
      [prop]="PROP_AUTHOR"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="cellNameTemplate; context: { value: accessRequest.author.nom_complet }"
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Date d'initialisation"
      [prop]="PROP_INITIALIZATION_DATE"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellDateTemplate;
            context: { date: accessRequest[PROP_INITIALIZATION_DATE] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Date d'expiration"
      [prop]="PROP_EXPIRATION_DATE"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellDateTemplate;
            context: { date: accessRequest[PROP_EXPIRATION_DATE] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Portée"
      [prop]="PROP_SCOPE"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="cellScopeTemplate; context: { value: accessRequest[PROP_SCOPE] }"
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Données sensibles"
      [prop]="PROP_SENSITIVITY_FILTER"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="cellBooleanTemplate; context: { value: accessRequest[PROP_SENSITIVITY_FILTER] }"
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Groupe(s) Taxonomique(s)"
      [prop]="PROP_TAXA"
      [sortable]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <div class="Taxa">
          <ul
            class="TaxaList"
            [class.TaxaList--single]="accessRequest.taxa?.length === 1"
          >
            <li *ngFor="let taxon of accessRequest.taxa || []">
              {{ taxon.cd_nom }} : {{ taxon.lb_nom }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Validator"
      [prop]="PROP_VALIDATOR"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellNameTemplate;
            context: { value: accessRequest.validator?.nom_complet }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Status"
      [prop]="PROP_STATUS"
    >
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="cellNameTemplate; context: { value: accessRequest.status }"
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false">
      <ng-template
        ngx-datatable-cell-template
        let-accessRequest="row"
      >
        <access-request-toolbar
          [accessRequest]="accessRequest"
          (deleted)="onAccessRequestDeleted($event)"
          (updated)="onAccessRequestUpdated($event)"
        ></access-request-toolbar>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
