.AccessRequestList {
  height: 100%;
  width: 100%;
  &__table {
    height: inherit;
    box-shadow: none;
    ::ng-deep .visible {
      height: inherit;
      .datatable-body {
        // height: 80% !important;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}

.Taxa {
  &List {
    margin: 0;
    padding-left: 1.2rem;
    list-style: disc;

    &--single {
      list-style: none;
      li {
        list-style: none;
      }
    }
  }
}
