h2[mat-dialog-title] {
  display: flex;
  align-items: center;
  margin: 5px;

  font-size: 1.75rem;

  span {
    text-overflow: ellipsis;
  }

  button[mat-dialog-close] {
    margin-left: auto;
  }
}

:host ::ng-deep mat-dialog-content {
  h3 {
    font-size: 1.17rem;
  }

  pre {
    white-space: pre-wrap;
  }
}

mat-dialog-actions {
  display: flex;
  align-items: center;
  width: 100%;

  .dialog-actions-spacer {
    flex: 1 1 auto;
  }
}
