.Acknowledgment {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  gap: 0.35rem;

  input[type='checkbox'].ng-invalid {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid red;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
    position: relative;
  }

  &__label {
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: #1f2937;
  }

  &__link {
    color: inherit;
    text-decoration: underline;
  }

  &__error {
    color: #d32f2f;
    font-size: 0.85rem;
  }

  &__required {
    color: #d32f2f;
  }
}
