<div class="Acknowledgment">
  <label class="Acknowledgment__label">
    <input
      type="checkbox"
      [formControlName]="controlName"
    />
    <ng-container *ngIf="termsLink; else termsText">
      &nbsp;
      <span
        [innerHTML]="'Permrequests.Form.Acknowledgment.Terms.WithLink' | translate: termsLink"
      ></span>
    </ng-container>
    <ng-template #termsText>
      {{ 'Permrequests.Form.Acknowledgment.Terms.TextOnly' | translate }}
    </ng-template>
    <span class="Acknowledgment__required">*</span>
  </label>
  <div
    class="Acknowledgment__error"
    *ngIf="acknowledgeTermsControl?.hasError('required')"
  >
    {{ 'Permrequests.Form.Acknowledgment.Required' | translate }}
  </div>
</div>
