<div
  class="AccessRequestInfo"
  *ngIf="accessRequest"
>
  <div class="AccessRequestInfo__field">
    <gn-badge
      [text]="STATUS_LABELS[accessRequest.status]"
      [symbology]="{ color: STATUS_COLORS[accessRequest.status] }"
    ></gn-badge>
  </div>
  <div class="AccessRequestInfo__field">
    <label for="author">Auteur</label>
    <div id="author">{{ accessRequest.author?.nom_complet }}</div>
  </div>

  <div
    class="AccessRequestInfo__field"
    *ngIf="accessRequest.validator"
  >
    <label for="validator">Validateur</label>
    <div id="validator">{{ accessRequest.validator?.nom_complet }}</div>
  </div>

  <div
    class="AccessRequestInfo__field"
    *ngIf="accessRequest.validation_description"
  >
    <label for="validation_description">Commentaire de validation</label>
    <div id="validation_description">{{ accessRequest.validation_description }}</div>
  </div>

  <div class="AccessRequestInfo__field">
    <label for="description">Description</label>
    <span
      id="description"
      rows="4"
    >
      {{ accessRequest.description }}
    </span>
  </div>

  <div class="AccessRequestInfo__field">
    <label for="initialization_date">Date d'initialisation</label>
    <div id="initialization_date">{{ accessRequest.initialization_date }}</div>
  </div>

  <div class="AccessRequestInfo__field">
    <label for="expiration_date">Date d'expiration</label>
    <div id="expiration_date">{{ accessRequest.expiration_date }}</div>
  </div>

  <div class="AccessRequestInfo__field">
    <label for="scope">Portée</label>
    <div id="scope">{{ getScopeLabel(accessRequest.scope) }}</div>
  </div>

  <div
    class="AccessRequestInfo__field"
    *ngIf="accessRequest.taxa?.length"
  >
    <label for="taxa">Taxons</label>
    <ul
      id="taxa"
      class="AccessRequestInfo__list"
    >
      <li *ngFor="let taxon of accessRequest.taxa">{{ taxon.cd_nom }} : {{ taxon.lb_nom }}</li>
    </ul>
  </div>

  <div
    class="AccessRequestInfo__field"
    *ngIf="accessRequest.areas?.length"
  >
    <label for="areas">Zones géographiques</label>
    <ul
      id="areas"
      class="AccessRequestInfo__list"
    >
      <li *ngFor="let area of accessRequest.areas">
        {{ area.area_name }}
        <ng-container *ngIf="area.area_code">({{ area.area_code }})</ng-container>
      </li>
    </ul>
  </div>

  <div class="AccessRequestInfo__field">
    <label for="sensitivity_filter">Données sensibles visibles</label>
    <div id="sensitivity_filter">{{ accessRequest.sensitivity_filter ? 'Oui' : 'Non' }}</div>
  </div>
</div>
