<div
  class="PermissionRequestInfo"
  *ngIf="permissionRequest"
>
  <div class="PermissionRequestInfo__row">
    <mat-card class="Card Card--narrow">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.beneficiary.icon }}</mat-icon>
          {{ 'Permrequests.Form.Beneficiary.Title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'Permrequests.Form.Beneficiary.Subtitle' | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div
          class="Field Field--inline"
          *ngIf="permissionRequest.author"
        >
          <label for="author">
            {{ 'Permrequests.Form.Beneficiary.Author' | translate }}
          </label>
          <div id="author">{{ permissionRequest.author?.nom_complet }}</div>
        </div>

        <div class="Field Field--inline">
          <label for="scope">
            {{ 'Permrequests.Form.Beneficiary.Scope.Label' | translate }}
          </label>
          <div id="scope">{{ getScopeLabel(permissionRequest.scope) }}</div>
        </div>

        <div
          class="Field"
          *ngIf="permissionRequest.validator"
        >
          <label for="validator">
            {{ 'Permrequests.Form.Validation.Validator' | translate }}
          </label>
          <div id="validator">{{ permissionRequest.validator?.nom_complet }}</div>
        </div>

        <div
          class="Field"
          *ngIf="permissionRequest.validation_description"
        >
          <label for="validation_description">
            {{ 'Permrequests.Form.Validation.Comment' | translate }}
          </label>
          <div id="validation_description">{{ permissionRequest.validation_description }}</div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="Card Card--description">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.description.icon }}</mat-icon>
          {{ 'Permrequests.Form.Description.Title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'Permrequests.Form.Description.Subtitle' | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field">
          <div
            id="description"
            class="Field__text"
          >
            {{ permissionRequest.description || 'Permrequests.Form.Description.Empty' | translate }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="PermissionRequestInfo__row PermissionRequestInfo__row--data">
    <mat-card class="Card Card--validity">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.validity.icon }}</mat-icon>
          {{ 'Permrequests.Form.Validity.Title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'Permrequests.Form.Validity.Subtitle' | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div class="Field">
          <label for="created_on">
            {{ 'Permrequests.Form.Validity.CreationDate' | translate }}
          </label>
          <div id="created_on">
            {{ permissionRequest.created_on | date: 'dd/MM/yyyy' }}
          </div>
        </div>

        <div class="Field">
          <label for="expiration_date">
            {{ 'Permrequests.Form.Validity.ExpirationDate' | translate }}
          </label>
          <div id="expiration_date">
            {{ permissionRequest.expiration_date | date: 'dd/MM/yyyy' }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="Card Card--data">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.data.icon }}</mat-icon>
          {{ 'Permrequests.Form.Data.Title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'Permrequests.Form.Data.Subtitle' | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <div
          class="Field"
          *ngIf="permissionRequest.taxa?.length"
        >
          <label for="taxa">{{ 'Permrequests.Form.Data.TaxaField.Label' | translate }}</label>
          <ul
            id="taxa"
            class="PermissionRequestInfo__list"
          >
            <li *ngFor="let taxon of permissionRequest.taxa; trackBy: trackByTaxon">
              {{ taxon.nom_valide || taxon.lb_nom }}
            </li>
          </ul>
        </div>

        <div
          class="Field"
          *ngIf="permissionRequest.areas?.length"
        >
          <label for="areas">
            {{ 'Permrequests.Form.Data.AreaField.Existing.Label' | translate }}
          </label>
          <ul
            id="areas"
            class="PermissionRequestInfo__list"
          >
            <li *ngFor="let area of permissionRequest.areas; trackBy: trackByArea">
              {{ area.area_name }}
              <ng-container *ngIf="area.area_code">({{ area.area_code }})</ng-container>
            </li>
          </ul>
        </div>

        <div
          class="Field"
          *ngIf="permissionRequest.custom_area"
        >
          <label for="custom_area">
            {{ 'Permrequests.Form.Data.AreaField.Custom.Label' | translate }}
          </label>
          <div
            id="custom_area"
            class="PermissionRequestInfo__customArea"
          >
            <mat-icon>description</mat-icon>
            <a
              [href]="getCustomAreaDownloadUrl()"
              download
            >
              {{ permissionRequest.custom_area.file_name || 'custom_area.geojson' }}
            </a>
          </div>
        </div>

        <div
          class="Field Field--map"
          *ngIf="mapGeojson"
        >
          <pnx-map
            height="300px"
            [searchBar]="false"
          >
            <pnx-geojson
              [geojson]="mapGeojson"
              [zoomOnLayer]="true"
              [zoomOnFirstTime]="true"
            ></pnx-geojson>
          </pnx-map>
        </div>

        <div class="Field Field--inline">
          <label for="sensitivity_filter">
            {{ 'Permrequests.Form.Data.Sensitivity.Label' | translate }}
          </label>
          <div id="sensitivity_filter">
            {{
              permissionRequest.sensitivity_filter
                ? ('Permrequests.Form.Data.Sensitivity.Yes' | translate)
                : ('Permrequests.Form.Data.Sensitivity.No' | translate)
            }}
          </div>
        </div>

        <div
          class="Field Field--synthese"
          *ngIf="permissionRequest.cruved?.V"
        >
          <a
            mat-stroked-button
            color="primary"
            [routerLink]="syntheseLink"
            [queryParams]="syntheseQueryParams"
            target="_blank"
            rel="noopener"
          >
            {{ 'Permrequests.Form.Data.ShowData' | translate }}
          </a>
          <div
            class="Field__warning"
            *ngIf="permissionRequest.custom_area"
          >
            <mat-icon>warning</mat-icon>
            {{ 'Permrequests.Form.Data.AreaField.Custom.Warning' | translate }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    *ngIf="permissionRequest.custom_fields != null"
    class="PermissionRequestInfo__row PermissionRequestInfo__customFields"
  >
    <mat-card class="Card Card--customFields">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="Card__titleIcon">{{ sections.customFields.icon }}</mat-icon>
          {{ 'Permrequests.Form.CustomFields.Title' | translate }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'Permrequests.Form.CustomFields.Subtitle' | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="Card__content">
        <ng-container *ngIf="permissionRequest.custom_fields?.length > 0; else noCustomFields">
          <div
            class="row"
            *ngFor="let field of permissionRequest.custom_fields"
          >
            <mat-expansion-panel
              class="col"
              [expanded]="true"
            >
              <mat-expansion-panel-header class="d-flex flex-row">
                <mat-icon
                  *ngIf="field.icon && field.icon_set"
                  class="flex-shrink"
                  [fontSet]="field.icon_set"
                  [fontIcon]="field.icon"
                ></mat-icon>
                <mat-icon
                  *ngIf="field.icon && !field.icon_set"
                  class="flex-shrink"
                >
                  {{ field.icon }}
                </mat-icon>
                <div class="header-group">
                  <mat-panel-title>{{ field.label }}</mat-panel-title>
                  <mat-panel-description class="truncate">{{ field.value }}</mat-panel-description>
                </div>
              </mat-expansion-panel-header>

              <p>{{ field.value }}</p>
            </mat-expansion-panel>
          </div>
        </ng-container>

        <ng-template #noCustomFields>
          <p
            class="alert alert-info"
            role="alert"
          >
            <mat-icon aria-hidden="true">info</mat-icon>
            {{ 'Permrequests.Form.CustomFields.Empty' | translate }}
          </p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
