.PermissionRequestInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__field {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gn-badge {
      max-width: 150px;
    }
    label {
      font-weight: 600;
      margin-bottom: 0;
    }

    textarea,
    input {
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      font: inherit;
      padding: 0.5rem;
    }
  }

  &__list {
    margin: 0;
    padding-left: 1.25rem;
  }
}
