<module-layout>
  <div class="Layout">
    <div class="Header card-header">
      <div class="Header__left">
        <button
          mat-flat-button
          [routerLink]="homeRouterLink"
        >
          <mat-icon>chevron_left</mat-icon>
          {{ 'Permrequests.Breadcrumb.Actions.Return' | translate }}
        </button>
      </div>
      <div class="Header__center">
        <div *ngIf="permissionRequest; else newPermissionRequest">
          {{ 'Permrequests.Breadcrumb.Titles.Edit' | translate:permissionRequest }}
        </div>
        <ng-template #newPermissionRequest>
          <div>
            {{ 'Permrequests.Breadcrumb.Titles.Create' | translate }}
          </div>
        </ng-template>
      </div>
      <div class="Header__right">
        <permission-request-toolbar
          *ngIf="permissionRequest"
          [permissionRequest]="permissionRequest"
          [withInfo]="withInfo"
          [withEdit]="withEdit"
          [withDelete]="withDelete"
          [withValidate]="withValidate"
          (deleted)="onPermissionRequestDeleted($event)"
          (updated)="onPermissionRequestUpdated($event)"
        ></permission-request-toolbar>
      </div>
    </div>
    <div class="card-body Body">
      <ng-content />
    </div>
  </div>
</module-layout>
