<div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">
        {{ 'Permrequests.Convention.Title' | translate }}
    </h2>
    <button ngbAutofocus type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ng-container *ngIf="conventionContent | async as content; else noConventionContent">
        <div class="permrequests-convention-container" [innerHtml]="content"></div>
    </ng-container>

    <ng-template #noConventionContent>
    <div class="permrequests-convention-container">
        <p>
         {{ 'Permrequests.Convention.NoContent' | translate }}
        </p>
    </div>
    </ng-template>
</div>
<div class="modal-footer d-flex flex-row">
    <button type="button" mat-raised-button class="mr-auto" (click)="activeModal.dismiss()">
        <mat-icon>cancel</mat-icon>
        {{ 'Cancel' | translate }}
    </button>

    <button type="button" mat-raised-button color="primary" ngbAutofocus (click)="activeModal.close('success')">
        <mat-icon>check</mat-icon>
        {{ 'Permrequests.Convention.Validate' | translate }}
    </button>
</div>
