<div class="AccessRequestToolbar">
  <button
    class="AccessRequestToolbar__button"
    color="primary"
    mat-icon-button
    matTooltip="Editer"
    [routerLink]="[editRouterLink]"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    class="AccessRequestToolbar__button"
    color="primary"
    mat-icon-button
    matTooltip="Voir"
    [routerLink]="[infoRouterLink]"
  >
    <mat-icon>info</mat-icon>
  </button>
  <button
    color="warn"
    class="AccessRequestToolbar__button"
    mat-icon-button
    matTooltip="Supprimer"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
