.PermissionRequestToolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  $edit-status-colors: (
    REFUSED: #ff5722,
    PENDING: #bdbdbd,
    IN_PROGRESS: #673ab7,
    EXPIRED: #ff9800,
    UPCOMING: #30a5ff,
    ACTIVE: #8bc34a,
  );

.Edit {
  --edit-color: #333333; // Default value
  text-transform: uppercase;
  border-width: 2px;
  font-size: 0.8em;
  font-weight: 700;

  color: color-mix(in srgb, var(--edit-color) 50%, black);
  background-color: color-mix(in srgb, var(--edit-color) 50%, white);
  border: 2px solid color-mix(in srgb, var(--edit-color) 80%, black);

  &--disabled {
    cursor: default;
  }

  @each $status, $color in $edit-status-colors {
    &--#{$status} {
      --edit-color: #{$color};
    }
  }
}
.BadgeContainer {
  width: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  column-gap: 0;
  align-items: center;
}
}
