<div
  class="PermissionRequestToolbar"
  *ngIf="permissionRequest"
>
  <button
    class="Edit"
    [ngClass]="permissionRequest?.status ? 'Edit--' + permissionRequest.status : ''"
    [disabled]="validationRequestPending"
    mat-stroked-button
    matTooltip="{{ 'Permrequests.List.Actions.Update' | translate }}"
    (click)="openValidationDialog()"
    *ngIf="withValidate && permissionRequest?.cruved?.V; else displayStatus"
  >
    <span class="Edit__label">
      {{ 'Permrequests.Enums.Status.' + permissionRequest.status | translate }}
    </span>
    <mat-icon class="Edit__icon">edit</mat-icon>
  </button>
  <ng-template #displayStatus>
    <button
      class="Edit Edit--disabled"
      mat-stroked-button
      [ngClass]="permissionRequest?.status ? 'Edit--' + permissionRequest.status : ''"
      disabled
    >
      <span class="Edit__label">
        {{ 'Permrequests.Enums.Status.' + permissionRequest.status | translate }}
      </span>
    </button>
  </ng-template>
  <button
    *ngIf="permissionRequest && withEdit"
    [disabled]="!permissionRequest?.cruved?.U"
    color="primary"
    mat-icon-button
    matTooltip="{{ 'Permrequests.List.Actions.Update' | translate }}"
    [routerLink]="[editRouterLink]"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="permissionRequest && withInfo"
    [disabled]="!permissionRequest?.cruved?.R"
    color="primary"
    mat-icon-button
    matTooltip="{{ 'Permrequests.List.Actions.Read' | translate }}"
    [routerLink]="[infoRouterLink]"
  >
    <mat-icon>info</mat-icon>
  </button>
  <button
    *ngIf="permissionRequest && withDelete"
    [disabled]="!permissionRequest?.cruved?.D"
    color="warn"
    mat-icon-button
    matTooltip="{{ 'Permrequests.List.Actions.Delete' | translate }}"
    (click)="deletePermissionRequest()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
