.PermissionRequestToolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;

  .ValidationButtons {
    display: inline-flex;
    gap: 0.25rem;

    .ValidationButton {
      background-color: white;
      overflow: hidden;
      border-width: 1.5px;
      .mat-icon{
        margin: 0 !important;
      }
      &:hover {
        opacity: 0.5;
      }
      &--accept {
        --color-accept: #4caf50;
        color: var(--color-accept);
        border-color: var(--color-accept);
        &.ValidationButton--active {
          color: #fff;
          background-color: var(--color-accept);
          border-width: 2px;
        }
      }
      &--decline {
        --color-decline: #f44336;
        color: var(--color-decline);
        border-color: var(--color-decline);
        &.ValidationButton--active {
          color: #fff;
          background-color: var(--color-decline);
          border-width: 2px;
        }
      }
    }
  }
}
