<form
  class="PermissionRequestForm"
  [formGroup]="form"
>
  <div class="PermissionRequestForm__fields">
    <div class="Grid">
      <div class="Grid__row Grid__row--top">
        <mat-card class="Card Card--narrow">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="Card__titleIcon">{{ sections.beneficiary.icon }}</mat-icon>
              {{ 'Permrequests.Form.Beneficiary.Title' | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ 'Permrequests.Form.Beneficiary.Subtitle' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="Card__content">
            <div
              class="Field Field--inline"
              *ngIf="authorName"
            >
              <div class="Field__label">
                {{ 'Permrequests.Form.Beneficiary.Author' | translate }}
              </div>
              <div>{{ authorName }}</div>
            </div>

            <div
              class="Field"
              *ngIf="shouldDisplayScopeFilter"
            >
              <div class="Field__label">
                {{ 'Permrequests.Form.Beneficiary.Scope.Label' | translate }}
                <span class="Field__required">*</span>
              </div>
              <div class="Field__radio">
                <label>
                  <input
                    type="radio"
                    formControlName="scope"
                    [value]="PermissionRequestScope.USER"
                  />
                  {{ 'Permrequests.Form.Beneficiary.Scope.User' | translate }}
                </label>
                <label>
                  <input
                    type="radio"
                    formControlName="scope"
                    [value]="PermissionRequestScope.ORGANISM"
                  />
                  {{ 'Permrequests.Form.Beneficiary.Scope.Organism' | translate }}
                </label>
              </div>
              <div
                class="Field__error"
                *ngIf="scopeControl?.hasError('required') && scopeControl?.touched"
              >
                {{ 'Permrequests.Form.Beneficiary.Scope.Required' | translate }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="Card Card--description">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="Card__titleIcon">{{ sections.description.icon }}</mat-icon>
              {{ 'Permrequests.Form.Description.Title' | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ 'Permrequests.Form.Description.Subtitle' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="Card__content">
            <div class="Field Field--description">
              <textarea
                id="description"
                rows="6"
                formControlName="description"
                placeholder="{{ 'Permrequests.Form.Description.Placeholder' | translate }}"
              ></textarea>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="Grid__row Grid__row--data">
        <mat-card class="Card Card--validity">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="Card__titleIcon">{{ sections.validity.icon }}</mat-icon>
              {{ 'Permrequests.Form.Validity.Title' | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ 'Permrequests.Form.Validity.Subtitle' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="Card__content">
            <div class="Dates">
              <div class="Field">
                <label class="Field__label">
                  {{ 'Permrequests.Form.Validity.CreationDate' | translate }}
                </label>
                <label>
                  {{ permissionRequest?.created_on || today | date: 'dd/MM/yyyy' }}
                </label>
              </div>

              <div class="Field">
                <label
                  class="Field__label"
                  for="expiration_date"
                >
                  {{ 'Permrequests.Form.Validity.ExpirationDate' | translate }}
                  <span class="Field__required">*</span>
                </label>
                <pnx-date
                  id="expiration_date"
                  [parentFormControl]="expirationDateControl"
                  [minDate]="minExpirationDate"
                  [maxDate]="maxExpirationDate"
                ></pnx-date>
                <div
                  class="Field__error"
                  *ngIf="
                    expirationDateControl?.hasError('required') && expirationDateControl?.touched
                  "
                >
                  {{ 'Permrequests.Form.Validity.Required' | translate }}
                </div>
              </div>
            </div>

            <div
              class="Field__error"
              *ngIf="form.errors?.invalidDate && expirationDateControl?.touched"
            >
              {{ 'Permrequests.Form.Validity.invalidDate' | translate }}
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="Card Card--data">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="Card__titleIcon">{{ sections.data.icon }}</mat-icon>
              {{ 'Permrequests.Form.Data.Title' | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ 'Permrequests.Form.Data.Subtitle' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="Card__content">
            <div class="Dataset">
              <div class="Field">
                <label class="Field__label">
                  {{ 'Permrequests.Form.Data.TaxaField.Label' | translate }}
                </label>
                <permrequest-taxa
                  [parentFormControl]="taxaControl"
                  rank="GN"
                  valueFieldName="cd_ref"
                  [matTooltip]="'Permrequests.Form.Data.TaxaField.Tooltip' | translate"
                  matTooltipPosition="above"
                  (onSelectionChange)="onTaxaSelectionChange($event)"
                ></permrequest-taxa>
              </div>

              <div class="Field">
                <label class="Field__label">
                  {{ 'Permrequests.Form.Data.AreaField.Label' | translate }}
                  <span class="Field__required">*</span>
                </label>

                <div
                  class="Field__radio Field__radio--area-mode"
                  *ngIf="allowCustomArea"
                >
                  <label>
                    <input
                      type="radio"
                      formControlName="area_mode"
                      value="existing"
                      (change)="onAreaModeChange('existing')"
                    />
                    {{ 'Permrequests.Form.Data.AreaField.Existing.Mode' | translate }}
                  </label>
                  <label>
                    <input
                      type="radio"
                      formControlName="area_mode"
                      value="custom"
                      (change)="onAreaModeChange('custom')"
                    />
                    {{ 'Permrequests.Form.Data.AreaField.Custom.Mode' | translate }}
                  </label>
                </div>

                <div [hidden]="allowCustomArea && isCustomAreaMode">
                  <pnx-areas
                    id="areas"
                    [typeCodes]="['COM', 'DEP', 'REG']"
                    [parentFormControl]="areasControl"
                    [defaultItems]="selectedAreasDefaultItems"
                    [matTooltip]="'Permrequests.Form.Data.AreaField.Existing.Tooltip' | translate"
                    matTooltipPosition="below"
                    (onSelectionChange)="onAreasSelectionChange($event)"
                  ></pnx-areas>
                  <div
                    class="Field__error"
                    *ngIf="!isAreaValid && areasControl?.touched"
                  >
                    {{ 'Permrequests.Form.Data.AreaField.Existing.Required' | translate }}
                  </div>
                </div>

                <div [hidden]="!allowCustomArea || !isCustomAreaMode">
                  <div class="Field Field--geojson">
                    <div class="input-group">
                      <div
                        class="custom-file"
                        [class.ng-invalid]="!parsedGeoJson || geoJsonParseError"
                      >
                        <input
                          type="file"
                          class="custom-file-input"
                          id="geojson_file"
                          accept=".geojson,.json"
                          (change)="onGeoJsonFileChange($event)"
                        />
                        <label
                          class="custom-file-label"
                          for="geojson_file"
                        >
                          {{
                            selectedGeoJsonFileName ||
                              permissionRequest?.custom_area?.file_name ||
                              ('Permrequests.Form.Data.AreaField.Custom.Input' | translate)
                          }}
                        </label>
                      </div>
                    </div>

                    <div
                      class="Field__error"
                      *ngIf="geoJsonParseError"
                    >
                      {{ geoJsonParseError }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="Field Field--inline-check"
              *ngIf="shouldDisplaySensitivityFilter"
            >
              <label class="Field__label">
                <input
                  type="checkbox"
                  formControlName="sensitivity_filter"
                />
                {{ 'Permrequests.Form.Data.Sensitivity.Label' | translate }}
              </label>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div
        *ngIf="shouldDisplayDynamicForm"
        class="Grid__row Grid__row--customFields"
      >
        <mat-card class="Card Card--customFields">
          <mat-card-header>
            <mat-card-title>
              <mat-icon class="Card__titleIcon">{{ sections.customFields.icon }}</mat-icon>
              {{ 'Permrequests.Form.CustomFields.Title' | translate }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ 'Permrequests.Form.CustomFields.Subtitle' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="Card__content">
            <pnx-dynamic-form-generator
              [autoGenerated]="true"
              [myFormGroup]="dynamicFormGrp"
              [formsDefinition]="dynamicFormCfg"
              (myFormGroupChange)="onDynamicFormInit($event)"
            ></pnx-dynamic-form-generator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-card-content>
      <acknowledgement-terms
        class="Acknowledgment"
        *ngIf="shouldDisplayAcknowledgement"
        [controlName]="'acknowledgeTerms'"
      />
    </mat-card-content>
  </div>
</form>

<div class="PermissionRequestForm__actions">
  <button
    type="button"
    mat-stroked-button
    class="mr-auto uppercase"
    color="warn"
    [matTooltip]="'Permrequests.Form.Actions.ResetTooltip' | translate"
    matTooltipPosition="left"
    (click)="onReset()"
    [disabled]="(dynamicFormGrp.pristine && form.pristine) || isSaving || isSameAsPermissionRequest"
  >
    <mat-icon>cancel</mat-icon>
    {{ 'Permrequests.Form.Actions.Reset' | translate }}
  </button>

  <div
    class="PermissionRequestForm__validationWarning"
    *ngIf="permissionRequest?.validated === true"
  >
    <mat-icon color="warn">warning</mat-icon>
    {{ 'Permrequests.Form.Actions.Warning' | translate }}
  </div>

  <button
    type="button"
    mat-raised-button
    class="uppercase"
    color="primary"
    [matTooltip]="'Permrequests.Form.Actions.SubmitTooltip' | translate"
    matTooltipPosition="left"
    (click)="onSubmit()"
    [disabled]="
      dynamicFormGrp.invalid ||
      form.invalid ||
      !isAreaValid ||
      (dynamicFormGrp.pristine && form.pristine) ||
      isSaving ||
      isSameAsPermissionRequest
    "
  >
    <mat-icon>send</mat-icon>
    {{ 'Permrequests.Form.Actions.Submit' | translate }}
  </button>
</div>
