.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__left {
    justify-self: start; // ou end selon besoin
  }
  &__center {
    justify-self: center; // centré horizontalement dans la colonne centrale
    position: absolute;
    left: 50%;
    translate: -50%;
  }
  &__right {
    justify-self: end; // ou end selon besoin
  }

  border-bottom: 1px solid lightgray;
}
