<module-layout>
  <div class="Header card-header">
    <div class="Header__left">
      <button
        mat-flat-button
        [routerLink]="homeRouterLink"
      >
      <mat-icon>
        chevron_left
      </mat-icon>
      Retour
      </button>
    </div>
    <div class="Header__center">
      Access Request #{{ accessRequest.id_access_request }}
    </div>
    <div class="Header__right">
      <access-request-status [accessRequest]="accessRequest"></access-request-status>
    </div>
  </div>
  <div class="card-body">
    <ng-content />
  </div>
</module-layout>
