<module-layout>
  <div class="Header card-header">
    <div class="Header__left">
      <button
        mat-flat-button
        [routerLink]="homeRouterLink"
      >
        <mat-icon>chevron_left</mat-icon>
        Retour
      </button>
    </div>
    <div class="Header__center">
      <div *ngIf="accessRequest; else newAccessRequest">
        Access Request #{{ accessRequest.id_access_request }}
      </div>
      <ng-template #newAccessRequest><div>New Access Request</div></ng-template>
    </div>
    <div class="Header__right">
      <access-request-toolbar
        [accessRequest]="accessRequest"
        [withInfo]="withInfo"
        [withEdit]="withEdit"
        [withDelete]="withDelete"
      ></access-request-toolbar>
    </div>
  </div>
  <div class="card-body">
    <ng-content />
  </div>
</module-layout>
