<div class="PermissionRequestList">
  <div class="Toolbar card-header">
    <div class="Toolbar__filters">
      <form
        [formGroup]="filtersForm"
        class="FiltersForm FiltersForm--horizontal"
      >
        <ng-select
          class="FiltersForm__Filter Multiselect"
          id="filter-status"
          [items]="statusOptions"
          bindValue="value"
          [clearable]="true"
          placeholder="{{ 'Permrequests.List.Filters.Labels.Status' | translate }}"
          formControlName="status"
          [multiple]="true"
          [closeOnSelect]="false"
          groupBy="group"
          [selectableGroup]="true"
          [selectableGroupAsModel]="false"
        >
          <ng-template
            ng-label-tmp
            let-item="item"
          >
            {{ 'Permrequests.Enums.Status.' + item.value | translate }}
          </ng-template>

          <ng-template
            ng-optgroup-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div class="MultiselectOptionItem">
              <input
                class="MultiselectOptionItem__checkbox"
                id="status-group-{{ index }}"
                type="checkbox"
                [ngModel]="item$.selected"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="MultiselectOptionItem__text">
                {{
                  ('Permrequests.Enums.Status.' + item.group | translate) ||
                    ('Permrequests.Enums.Status.' + item.value | translate)
                }}
              </div>
            </div>
          </ng-template>

          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <div class="MultiselectOptionItem">
              <input
                class="MultiselectOptionItem__checkbox"
                id="status-item-{{ index }}"
                type="checkbox"
                [ngModel]="item$.selected"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="MultiselectOptionItem__text">
                {{ 'Permrequests.Enums.Status.' + item.value | translate }}
              </div>
            </div>
          </ng-template>
        </ng-select>

        <ng-select
          class="FiltersForm__Filter"
          id="filter-scope"
          [items]="scopeOptions"
          bindValue="value"
          [clearable]="true"
          placeholder="{{ 'Permrequests.List.Filters.Labels.Scope' | translate }}"
          formControlName="scope"
          [multiple]="true"
          [closeOnSelect]="false"
        >
          <ng-template
            ng-option-tmp
            ng-label-tmp
            let-item="item"
          >
            {{ 'Permrequests.Enums.Scope.' + item.value | translate }}
          </ng-template>
        </ng-select>

        <ng-select
          class="FiltersForm__Filter"
          id="filter-sensitive"
          [items]="sensitivityOptions"
          bindLabel="label"
          bindValue="value"
          [clearable]="true"
          placeholder="{{ 'Permrequests.List.Filters.Labels.Sensitivity' | translate }}"
          formControlName="sensitivity_filter"
          [multiple]="true"
          [closeOnSelect]="false"
        >
          <ng-template
            ng-option-tmp
            ng-label-tmp
            let-item="item"
          >
            {{ 'Permrequests.Enums.Sensitivity.' + item.value | translate }}
          </ng-template>
        </ng-select>

        <label
          *ngIf="canValidatePermissionRequest"
          class="FiltersForm__Filter FiltersForm__Filter--checkbox"
        >
          <input
            type="checkbox"
            formControlName="my_validations"
          />
          {{ 'Permrequests.List.Filters.Labels.MyValidations' | translate }}
        </label>
      </form>
    </div>

    <div class="Toolbar__spacer"></div>

    <div
      class="Toolbar__actions"
      *ngIf="canCreatePermissionRequest"
    >
      <button
        mat-flat-button
        color="primary"
        [routerLink]="newPermissionRequestLink"
      >
        {{ 'Permrequests.List.Actions.Create' | translate }}
      </button>
    </div>
  </div>

  <ng-template
    #cellDateTemplate
    let-date="date"
  >
    {{ renderDate(date) }}
  </ng-template>

  <ng-template
    #cellNumberTemplate
    let-value="value"
  >
    {{ value ? value : '-' }}
  </ng-template>

  <ng-template
    #cellNameTemplate
    let-value="value"
  >
    {{ value | titlecase }}
  </ng-template>

  <ng-template
    #cellBooleanTemplate
    let-value="value"
  >
    {{ value ? 'Oui' : 'Non' }}
  </ng-template>

  <ng-template
    #cellScopeTemplate
    let-value="value"
  >
    {{ renderScope(value) }}
  </ng-template>

  <ng-template
    #cellDefaultTemplate
    let-value="value"
  >
    {{ value }}
  </ng-template>

  <ngx-datatable
    class="PermissionRequestList__table material striped PermissionRequestList__table--nowrap"
    [rows]="permissionRequests"
    columnMode="force"
    [draggable]="false"
    (page)="onChangePage($event)"
    footerHeight="auto"
    headerHeight="auto"
    [externalPaging]="true"
    [count]="pagination.totalItems"
    [limit]="pagination.perPage"
    rowHeight="auto"
    [externalSorting]="true"
    (sort)="onSort($event)"
    [sorts]="[{ prop: sort.sortBy, dir: sort.sortOrder }]"
    [messages]="{ emptyMessage: 'Aucune demande de permission' }"
  >
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Id' | translate }}"
      [prop]="PROP_ID_PERMISSION_REQUEST"
      [maxWidth]="50"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellNumberTemplate;
            context: { value: permissionRequest[PROP_ID_PERMISSION_REQUEST] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Author' | translate }}"
      [prop]="PROP_AUTHOR"
      [maxWidth]="150"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellNameTemplate;
            context: { value: permissionRequest.author.nom_complet }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.CreationDate' | translate }}"
      [prop]="PROP_CREATED_ON"
      [maxWidth]="100"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellDateTemplate;
            context: { date: permissionRequest[PROP_CREATED_ON] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.ExpirationDate' | translate }}"
      [prop]="PROP_EXPIRATION_DATE"
      [maxWidth]="100"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellDateTemplate;
            context: { date: permissionRequest[PROP_EXPIRATION_DATE] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Scope' | translate }}"
      [prop]="PROP_SCOPE"
      [maxWidth]="100"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="cellScopeTemplate; context: { value: permissionRequest[PROP_SCOPE] }"
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Sensitivity' | translate }}"
      [prop]="PROP_SENSITIVITY_FILTER"
      [maxWidth]="100"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellBooleanTemplate;
            context: { value: permissionRequest[PROP_SENSITIVITY_FILTER] }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Taxa' | translate }}"
      [prop]="PROP_TAXA"
      [sortable]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <div class="Taxa">
          <ul
            class="TaxaList"
            [class.TaxaList--single]="permissionRequest.taxa?.length === 1"
          >
            <li *ngFor="let taxon of permissionRequest.taxa || []">
              {{ taxon.cd_nom }} : {{ taxon.lb_nom }}
            </li>
          </ul>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Areas' | translate }}"
      [prop]="PROP_AREAS"
      [sortable]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <div class="Areas">
          <ul
            class="AreasList"
            [class.AreasList--single]="permissionRequest.areas?.length === 1"
          >
            <li *ngFor="let area of permissionRequest.areas || []">
              {{ area.area_name }}
              <ng-container *ngIf="area.area_code">({{ area.area_code }})</ng-container>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Validator' | translate }}"
      [prop]="PROP_VALIDATOR"
      [maxWidth]="150"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <ng-template
          *ngTemplateOutlet="
            cellNameTemplate;
            context: { value: permissionRequest.validator?.nom_complet }
          "
        ></ng-template>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="{{ 'Permrequests.List.Columns.Status' | translate }}"
      [prop]="PROP_STATUS"
      [width]="400"
      [canAutoResize]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-permissionRequest="row"
      >
        <permission-request-toolbar
          [permissionRequest]="permissionRequest"
          (deleted)="onPermissionRequestDeleted($event)"
          (updated)="onPermissionRequestUpdated($event)"
        ></permission-request-toolbar>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
